body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

span.share [onclick="copyToClipboard(this)"] {
    cursor: pointer;
}

span.share i {
    transition: visibility 0s, opacity 0.35s linear;
}

span.share i.icon-swapped, span.share:hover i.icon-default {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

span.share:hover i.icon-swapped, span.share i.icon-default {
    position: initial;
    visibility: visible;
    opacity: 1;
}

.nav-wrapper .nav-item {
    margin-left: 1em;
    margin-right: 1em;
}
