<!DOCTYPE html>
<html>

{{ template "head.html.tmpl" . }}

<body>
    <div class="container">
        <h1>Hi.</h1>
        <h6>Join a planning poker room.</h6>
        <form style="margin-top: 3.5rem" action="/login" method="POST">
            <div class="input-field>">
                <label>Room</label>
                <input id="room" type="text" name="room" value="{{ .room }}" required />
            </div>
            <div class="input-field">
                <label>Pick a name</label>
                <input {{ .state }} id="name" type="text" name="name" value="{{ .name }}" class="{{ .valid }}"
                    required />
                <span class="helper-text" data-error="Name already taken"></span>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="Enter">Enter
                <i class="material-icons right">send</i>
            </button>
        </form>
        <p><a href="mailto:{{ .email }}?subject=Planning Poker Next">Contact developer</a></p>
    </div>
    <div class="container bottom-align">
        <div class="row center-align">
            <div class="col s1 offset-s5">
                <div><i class="material-icons tooltipped" data-position="top" data-tooltip="number of active rooms">meeting_room</i></div>
                <div><span>{{ .rooms }}</span></div>
            </div>
            <div class="col s1">
                <div><i class="material-icons tooltipped" data-position="top" data-tooltip="number of users logged in">group</i></div>
                <div><span>{{ .users }}</span></div>
            </div>
        </div>
    </div>
</body>
</html>