<!DOCTYPE html>
<html>

{{ template "head.html" . }}

<body style="display: flex;min-height: 100vh;flex-direction: column;" onload="initialize()">
    
    {{ template "header.html" . }}   

    <main style="flex: 1 0 auto">
        <div class="container" style="margin-top: 3rem;">
        {{ template "voting-form.html" .options }}
        <div id="userlist"></div>
        <div id="results"></div>
        {{ template "buttons.html" .room }}
        </div>
    </main>

    {{ template "footer.html" . }}

</body>

{{ template "scripts.html" . }}

</html>