<!DOCTYPE html>
<html>

{{ template "head.html.tmpl" . }}

<body onload="initialize()">

    {{ template "header.html.tmpl" . }}

    <main>
        <div class="container" style="margin-top: 3rem;">
        {{ template "voting-form.html.tmpl" . }}
        <div id="userlist"></div>
        <div id="results"></div>
        {{ template "buttons.html.tmpl" .room }}
        </div>
    </main>

    {{ template "footer.html.tmpl" . }}

</body>

{{ template "scripts.html.tmpl" . }}

</html>