<script>
    
    function vote(v) {
        fetch("/rooms/{{ .room.Name }}/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: v
        });
    }

    function sync() {
        setInterval(function() {
            updateTimer();
            updateVotes();
        }, 1000);        
    }

    function updateVotes() {
        fetch("/rooms/{{ .room.Name }}/userlist")
            .then(r => r.text())
            .then(s => {
                var el = document.getElementById("userlist");
                el.innerHTML = s;
            });
    }

    function updateTimer() {
        var start = new Date({{ .room.Ts.UnixMilli }});
        var now = new Date();        
        var diff = now - start;
        var mins = Math.floor(diff / 60000);
        var secs = Math.floor((diff/1000)%60);
        var timer = padZero(""+mins)+":"+padZero(""+secs);
        var elem = document.getElementById("timer");
        elem.innerHTML = timer;
    }

    function padZero(s) {
        if (s.length < 2) {
            return "0" + s;
        }
        return s;
    }
    
</script>
