<script>

    var room = {
        name: {{ .room.Name }},
        revealed: {{ .room.Revealed }},
        revealedBy: {{ .room.RevealedBy }},
        ts: {{ .room.Ts.UnixMilli }},
    };
    
    function vote(v) {
        fetch("/rooms/" + room.name + "/vote", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: v
        });
    }

    function reveal() {
        fetch("/rooms/" + room.name + "/reveal", {
            method: "POST"
        })
        .then(room.revealed = true);
    }

    function sync() {
        toast();
        setInterval(function() {
            updateTimer();
            updateVotes();
            if (room.revealed) {
                updateResults();
            }
        }, 1000);        
    }

    function toast() {
        if (room.revealed) {
            M.toast({ 
                html: "<span class='lime-text'> " + room.revealedBy + "</span>&nbsp;revealed the votes",
                displayLength: 15000,
             });
        }        
    }

    function updateVotes() {
        fetch("/rooms/" + room.name + "/userlist")
            .then(r => r.text())
            .then(s => {
                var el = document.getElementById("userlist");
                el.innerHTML = s;
            });
    }

    function updateResults() {
        fetch("/rooms/" + room.name + "/results")
            .then(r => r.text())
            .then(s => {
                var el = document.getElementById("results");
                el.innerHTML = s;
            });
    }

    function updateTimer() {
        var start = new Date(room.ts);
        var now = new Date();        
        var diff = now - start;
        var mins = Math.floor(diff / 60000);
        var secs = Math.floor((diff/1000)%60);
        var timer = padZero(""+mins)+":"+padZero(""+secs);
        var elem = document.getElementById("timer");
        elem.innerHTML = timer;
    }

    function padZero(s) {
        if (s.length < 2) {
            return "0" + s;
        }
        return s;
    }
    
</script>
