<script>
    
    function vote(v) {
        fetch("/rooms/{{ .room.Name }}/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: v
        });
    }

    function sync() {
        setInterval(function() {
            updateTimer();
            updateVotes();
        }, 1000);        
    }

    function updateVotes() {
        fetch("/rooms/{{ .room.Name }}/json")
            .then(r => r.json())
            .then(d => update(d));
    }

    function update(d) {
        var el = document.getElementById("users");
        el.innerHTML = "";
        for (k in d) {
            el.innerHTML += getUserChip(k, d[k].vote);
        }
    }

    function getUserChip(name, value) {
        return '<div class="chip">' + name + ': ' + value + '</div>';
    }

    function getValue(vote) {
        return value < 100 
            ? '<b>' + value + '</b>' 
            : '<i class="material-icons tiny">' + getIcon(vote) + '</i>';
    }

    function getIcon(vote) {
        {{ if .room.Revealed }}
        switch (vote) {
            case 101: return "coffee";
            case 102: return "upgrade";
            case 103: return "help";
            default: return "nightlight_round";
        }
        {{ else }}
        return vote == 100 ? "nightlight_round" : "check";
        {{ end }}
    }

    function updateTimer() {
        var start = new Date({{ .room.Ts.UnixMilli }});
        var now = new Date();        
        var diff = now - start;
        var mins = Math.floor(diff / 60000);
        var secs = Math.floor((diff/1000)%60);
        var timer = padZero(""+mins)+":"+padZero(""+secs);
        var elem = document.getElementById("timer");
        elem.innerHTML = timer;
    }

    function padZero(s) {
        if (s.length < 2) {
            return "0" + s;
        }
        return s;
    }
    
</script>
