<div class="row center-align" style="margin-top: 3rem;">
    <h5>Votes</h5>
    <div class="col s6 offset-s3" style="margin-top: 1.5rem;">
        {{ range $user, $vote := .room.Votes }}
        {{ $opt := (index $.lookup $vote.Vote) }}                
        <div class="chip">
            {{ $user }}:
            {{ if $.room.Revealed }}
                {{ if $opt.HasIcon }}
                <i class="close material-icons">{{ $opt.Icon }}</i>
                {{ else }}
                <b>&nbsp;{{ $opt.Text }}</b>
                {{ end }}
            {{ else if $vote.IsNothing }}            
            <i class="close material-icons">{{ $opt.Icon }}</i>
            {{ else }}
            <i class="close material-icons">check</i>
            {{ end }}
        </div>        
        {{ end }}        
    </div>
</div>