<div class="row center-align" style="margin-top: 3rem;;">
    <div class="col s6 offset-s3">
        {{ range $user, $vote := .Votes }}
        <div class="chip">
            {{ if $vote.IsNothing }}
            {{ $user }}:<i class="close material-icons">nightlight_round</i>
            {{ else }} 
                {{ if $.Revealed }}
                    {{ if $vote.IsCoffee }}
                    {{ $user }}:<i class="close material-icons">coffee</i>
                    {{ else if $vote.IsLarge }}
                    {{ $user }}:<i class="close material-icons">upgrade</i>
                    {{ else if $vote.IsQuestion }}
                    {{ $user }}:<i class="close material-icons">help</i>
                    {{ else }}
                    {{ $user }}:&nbsp;&nbsp;<b>{{ $vote.Vote }}</b>
                    {{ end }}
                {{ else }}
                {{ $user }}:<i class="close material-icons">check</i>
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>